.UserInput {
    padding: 6px;
    height: 30px;
    border: 2px solid #cdcdcd;
    left: 0;
    outline: none;
    background-color: #fff;
    margin: 10px;
    width: 50%;
    box-shadow: 0 2px 3px #ccc;

}